@inherits LayoutComponentBase

<PageTitle>SurevyPoC</PageTitle>

<div class="page">
    @*     <div class="sidebar">
    <NavMenu />
    </div> *@

    <main>
        <LoginPanel></LoginPanel>
        <div>@Body</div>


    </main>
</div>
